<tr>
  <td>
    <div>
      <%= team_log.created_at.strftime("%d/%m/%Y") %>
    </div>
    <div>
      <%= team_log.created_at.strftime("%I:%M:%S") %>
    </div>
  </td>
  <td>
    <%== markdown.render(team_log.log.to_s) %>
  </td>
</tr>