<tr>
  <td>
    <div>
      <%= team_log.created_at.strftime("%d/%m/%Y") %>
    </div>
    <div>
      <%= team_log.created_at.strftime("%I:%M:%S") %>
    </div>
  </td>
  <td>
    <%= turbo_frame_tag "#{dom_id(team_log)}_edit" do %>
      <%= render "teams/team_log_edit_box", team_log: team_log, team: team, markdown: markdown %>
    <% end %>
  </td>
</tr>

