<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= team.number %>
  </p>

  <p>
    <strong>Alliance:</strong>
    <%= team.alliance_id %>
  </p>

</div>
