<h1>Editing <%= "#{@team.name} #{@team.number}" %></h1>

<%= render "form", team: @team %>

<br>

<div>
  <%= link_to "Cancel", @team, class: "button"%>
  <%= link_to "Teams", teams_path, class: "button"%>
</div>
