<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<table id="teams" class="hover">
  <thead>
  <tr>
    <th>
      <strong>
        Number
      </strong>
        <input type="number" name="number_search" id="number_search" data-controller="searches" data-action="keyup->searches#search">
    </th>
    <th>
      <strong>
        Name
      </strong>
    </th>
    <th>
      <strong>
        Location
      </strong>
    </th>
    <th>
      <strong>
        Type
      </strong>
    </th>
    <th>
      <strong>
        Logo
      </strong>
    </th>
  </tr>
  </thead>
  <% @teams.each do |team| %>
    <%= render team %>
  <% end %>
</table>

<%= link_to "New team", new_team_path %>
