<h1>Editing <%= @competition.name %></h1>

  <%= render "form", competition: @competition %>

<div class="grid-x grid-container">
  <div class="cell small-8">
    <%= link_to "Cancel", @competition, class: "button" %>
  </div>
  <div class="cell small-8">
    <%= link_to "Competitions", competitions_path, class: "button" %>
  </div>
</div>
