<p style="color: green"><%= notice %></p>

<h1>Competitions</h1>

<% if flash[:alert] %>
  <div class="callout alert" data-closable>
    <%= flash[:alert] %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<table id="competitions" class="hover">
  <thead>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Date</strong></th>
    <th><strong>Teams</strong></th>
    <th>Matches</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @competitions.each do |competition| %>
    <%= render competition %>
  <% end %>

  </tbody>
</table>

<%= link_to "New competition", new_competition_path, class: "button" %>
