<p style="color: green"><%= notice %></p>

<h1>Competitions</h1>

<table id="competitions" class="hover">
  <thead>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Date</strong></th>
    <th></th>
  </tr>
  </thead>
  <% @competitions.each do |competition| %>
    <%= render competition %>
  <% end %>
</table>

<%= link_to "New competition", new_competition_path %>
