<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Edit this competition", edit_competition_path(@competition), class: "button" %>
  <%= link_to "Back to competitions", competitions_path, class: "button" %>
</div>

<%= render @competition %>

