<div class="grid-container">

  <div class="cell small-4 text-center"><h1>TEAM <%=@team_score_sheet.team.number %></h1></div>
  <%= turbo_frame_tag "toggle_auto", class: "grid-x grid-margin-x small-margin-collapse align-center-middle" do %>
    <%= render "auto_section", match: @match, team_score_sheet: @team_score_sheet %>
  <% end %>
</div>
