<div class="grid-container">
  <%= turbo_frame_tag "toggle_auto", class: "grid-x grid-margin-x" do %>
    <%= render "auto_section", match: @match, team_score_sheet: @team_score_sheet %>
  <% end %>
</div>