<div class="cell expanded">
  <%= button_to("ENABLE AUTO", toggle_auto_competition_match_team_score_sheet_path(@match.competition.id, @match.id, @team_score_sheet.id, show_section: :auto), class: "button expanded") %>
</div>
<%= render 'score_buttons',
           score_field: :score_speaker,
           team_score_sheet: @team_score_sheet,
           score_url: score_speaker_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_speaker_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :score_amp,
           team_score_sheet: @team_score_sheet,
           score_url: score_amp_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_amp_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :score_trap,
           team_score_sheet: @team_score_sheet,
           score_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>