<%= render "form", match_action: @match_action %>

<br>

<div>
<!--  <%#= link_to "Show this match action", @match_action %> |-->
  <%= link_to "Back to Match List", matches_path, class: "button" %>
</div>
