<p style="color: green"><%= notice %></p>

<h1>Match actions</h1>

<div id="match_actions">
  <% @match_actions.each do |match_action| %>
    <%= render match_action %>
    <p>
      <%= link_to "Show this match action", [match_action.match, match_action] %>
    </p>
  <% end %>
</div>
