<p style="color: green"><%= notice %></p>

<table id="teams" class="hover">
  <thead>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Initials</strong></th>
    <th><strong>Email</strong></th>
  </tr>
  </thead>
  <%= render @user %>
</table>